doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='styles/att.css')
    title Document
  body(style="margin: 0; padding: 0; padding-top : 80px; padding-bottom: 80px") 
    .a-header 
      .a-left 
      .a-mid 
      .a-right
    .a-grid-div 
      .a-full-block 
        .a-img-container 
          .a-img 
        .a-text-div 
          .a-title
            p Порода 
          .a-description
            p грн/шт.
        button.a-order-button Замовити
          

      .a-full-block 
        .a-img-container 
          .a-img 
        .a-text-div 
          .a-title
            p Порода 
          .a-description
            p грн/шт.
        button.a-order-button Замовити
          
      
      .a-full-block 
        .a-img-container 
          .a-img 
        .a-text-div 
          .a-title
            p Порода 
          .a-description
            p грн/шт.
        button.a-order-button Замовити
          
      
      .a-full-block 
        .a-img-container 
          .a-img 
        .a-text-div 
          .a-title
            p Порода 
          .a-description
            p грн/шт.
        button.a-order-button Замовити
           
         
            


      
      
        
        
        
    