doctype html

head
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Кошик
  link(rel="icon", href="icons/favicon.ico")
  link(rel='stylesheet' href='styles/global.css')
  link(rel='stylesheet' href='styles/header.css')
  link(rel='stylesheet' href='styles/main.css')
  link(rel='stylesheet' href='styles/navigation-bar.css')
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&&family=Unbounded:wght@200..900&family=Comfortaa:wght@700&family=Russo+One&display=swap" rel="stylesheet")




body.checkout
  .colorline
  header.header
    .middle-section
      a.main-link(href='/')
        .logo-div
          img.logo(src='icons/logo.svg' alt='')
        .inc-name-div
          img.inc-name(src='icons/name.png' alt='' height='15')
        
    
  main#swap.transition-main.checkout
    a.link-back-div(href="/assortment")  
      img(src="icons/arrow-left.svg" height="40px")
    .js-shadow-maker
    .order-preview.checkout
      .x-order-preview 
       p x
      .checkout-OP-img-div
        img(src="icons/logo.png" height='200px')

      .div-conditions
        p Замовлення виконується протягом 1-7 робочих днів. 
        p Після підтвердження контактних даних ми зв'яжемось з вами щодо деталей.   
        p Дякуємо, що ви з нами!
    .primary-container
      form.clientForm(method="POST")
        p.title-contacts Контактні дані
        label.lastname(for="inputLastName") Прізвище
          p.star *
        input#inputLastName(correct="false" type="text" maxlength='18' pattern="[^\s]*" name="Lastname")
        label.firstname(for="inputFirstName" ) Ім'я
          p.star *
        input#inputFirstName(correct="false" type="text" maxlength="15" pattern="[^\s]*" name="Firstname")
        label.tel(for="inputTel") Телефон 
          p.star *
        .tel-div
          .code-div
            p.country-code +38
          input#inputTel(correct="false" type="tel", name="Tel" placeholder="(__) ___-__-__" )
        label.city(for="inputCity" ) Місто доставки 
          p.star *
        input#inputCity(correct="false" type="text", name="City", maxlength="70")
        label.post(for="inputPostal" ) Відділення Нової Пошти
          p.star *
        .postal-div 
          .code-div 
            p.number-code № 
          input#inputPostal(correct="false" type="text" name="Postal" maxlength="10")
        input.inputHiddenBreed( type='hidden' name='order')
        input.inputHiddenPrice( type="hidden" name='Price')
        input.inputHiddenTotal( type="hidden" name='Total')
        button.buttonSubmit(correct="false" type="submit" disabled) Підтвердити замовлення

      .subprimary-column-container.checker
        .div-ordered
        .checkout-title-order 
          p Замовлення
        .checkout-title-quantity-div
          p.checkout-title-quantity
          p.checkout-quantity-eggs 
        .div-check
          .titles
            p Вартість замовлення: 
            p Вартість комплектації: 
            p До оплати (без доставки):
          .numbers 
            p.checkCartPrice 
            p.checkDeliveryPrice 70₴
            p.checkTotalPrice 
        button.show-conditions Умови відправки замовлень

      script. 
        $(() => {
          
          $(".buttonSubmit").removeAttr('disabled')
          function limitInputVal (input, limitNumber) {
            
            if (input.val().length > limitNumber) {
              input.val(input.val().substring(0, limitNumber))
            }
          }

          //- INPUT NAME LIMITS
          let inputName = $("input#inputLastName, input#inputFirstName")
          let iLastName  =$("input#inputLastName") 
          let iFirstName =$("input#inputFirstName")  
          let inputTel = $("input#inputTel")
          let inputCity = $("input#inputCity") 
          let inputPostal = $("input#inputPostal")
          
          
          inputName.keypress(e => {
            
            let verified = String.fromCharCode(e.which).match(/[а-яА-ЯіІїЇєЄ-]/);
            if (!verified) {
            e.preventDefault();
            }
          })
        iLastName.on('keydown keyup', () => {
            if(iLastName.val().length > 2) {
              $(".lastname").children('p').css({
                fontSize: '13px'
              }).text("✔️")
              iLastName.attr('correct', 'true')
            }
            else {
              $(".lastname").children('p').css({
                fontSize: '20px'
              }).text("*")
              iLastName.attr('correct', 'false')
            }
        })

        iFirstName.on('keydown keyup', () => {
            if(iFirstName.val().length > 2) {
              $(".firstname").children('p').css({
                fontSize: '13px'
              }).text("✔️")
              iFirstName.attr('correct', 'true')
            }
              
            else {
              $(".firstname").children('p').css({
                fontSize: '20px'
              }).text("*")
              iFirstName.attr('correct', 'false')
            }
        })
  
          //----------------------
            
          //- INPUT TEL LIMITS


          inputTel.keypress(e => {
            let verified = String.fromCharCode(e.which).match(/[0-9]/);
            if (!verified) {
            e.preventDefault();
            }
          })
         
        
          inputTel.on('keyup keydown', (e => {
            
            limitInputVal(inputTel, 10)
            
            if(inputTel.val().length == 10) {
              $("label.tel").children('p').css({
                fontSize: '13px'
              }).text("✔️")
              inputTel.attr('correct', 'true')
            }
              
            else {
              $("label.tel").children('p').css({
                fontSize: '20px'
              }).text("*")
              inputTel.attr('correct', 'false')
              
            }
            
          }))


          //---------------------------
          
          //-   CITY INPUT LIMITS  


         inputCity.keypress(e => {
            let verified = String.fromCharCode(e.which).match(/[а-яА-Яіїє ,.-]/);
            if (!verified) {
            e.preventDefault();
            }

         })

         inputCity.on('keyup keydown', () => {
           
           if(inputCity.val().length > 2) {
              $("label.city").children('p').css({
                fontSize: '13px'
              }).text("✔️")
              inputCity.attr('correct', 'true')
           }
            else {
              $("label.city").children('p').css({
                fontSize: '20px'
              }).text("*") 
              inputCity.attr('correct', 'false')
         }})

          //--------------------------- 
          //-     INPUT POSTAL

          inputPostal.keypress(e => {
            let verified = String.fromCharCode(e.which).match(/[0-9]/);
            if (!verified) {
            e.preventDefault();
            }
          })
          
         inputPostal.on('keyup keydown', () => {
           if(inputPostal.val().length >= 1) {
              $("label.post").children('p').css({
                fontSize: '13px'
              }).text("✔️")
              inputPostal.attr('correct', 'true')
           }
            else {
              $("label.post").children('p').css({
                fontSize: '20px'
              }).text("*") 
              inputPostal.attr('correct', 'false')
         }})



          //--------------------------
        });    
      script(type="module"). 
        import {cart, removeFromCart, cartToHTML, setItemsQuantity, totalQuantity, calculateCartPrice} from './js/cart.mjs'
        $(()=>{
           $("#inputLastName").val(null)
            $("#inputFirstName").val(null)
            $("#inputTel").val(null)
            $("#inputCity").val(null)
            $("#inputPostal").val(null)

            //- ordered-div functionality
          cartToHTML()
          
          //---------------------------------------------------
          
          


          //- Delivery info preview
          $(".show-conditions").on('click', () => {
          $(".header").css({zIndex: 50})
          
          $(".link-back-div").css({
            zIndex: '1'
          })


          $(".order-preview").css({
            display: 'flex'
          })
          $(".js-shadow-maker").removeClass("shadow-maker-removed")
          $(".js-shadow-maker").addClass("shadow-maker")
          setTimeout(() => {
            $('.shadow-maker').css({
              backdropFilter: 'blur(7px)',
              position: 'fixed',
              top: 0, bottom: 0, left: 0, right: 0

            })
          }, 50)
          $(".x-order-preview").on('click', () => {
          $(".link-back-div").css({
            zIndex: '10000'
          })
            $(".header").css({zIndex: 10000})

                $(".order-preview").css({
                  display: "none"
                })
          $(".js-shadow-maker").addClass("shadow-maker-removed")
            setTimeout(() => {
              $('.shadow-maker').css({
                backdropFilter: 'none'
              })
              $('.js-shadow-maker').removeClass("shadow-maker")
          }, 200)
          })

        $(".js-shadow-maker").on('click', () => {
          $(".x-order-preview").trigger('click')
        })
        })
          //--------------------------------------------------------
          
          //--- (submitButton) ON HOVER
          $(".buttonSubmit").hover(() => {
            $("form.clientForm").removeClass('formNotHovered')
            $("p.title-contacts").removeClass('formNotHovered')
            $("form.clientForm").addClass('formHovered')
            $("p.title-contacts").addClass('formHovered')
          }, () => {
            $("form.clientForm").addClass('formNotHovered')
            $("p.title-contacts").addClass('formNotHovered')
            $("form.clientForm").removeClass('formHovered')
            $("p.title-contacts").removeClass('formHovered')
          })
          //------------------------------------------------------
          $("form.clientForm").on('submit', (e) => {            


            if ( $("#inputLastName").attr('correct') === 'true' &&
                 $("#inputFirstName").attr('correct') === 'true' && 
                 $("#inputTel").attr('correct') === 'true' && 
                 $("#inputCity").attr('correct') === 'true' &&
                 $("#inputPostal").attr('correct') === 'true' && 
                            totalQuantity() !== 0
                  ) {
                 
                    
              
            let info = ''
            let iter = 1
             cart.forEach(e => {
              info += `${e.Breed} (${(e.Country).substring(10,12)}) - ${e.Quantity} шт. (${e.Price}₴/шт.) 
              <br>

               `
              iter++;
             })
             $(".inputHiddenBreed").val(info)

            let price = $(".numbers").children(".checkCartPrice").text()
            let total = $(".numbers").children(".checkTotalPrice").text()
             $(".inputHiddenPrice").val(price.substring(price.length - 1, 0))
             $(".inputHiddenTotal").val(total)
             $("button.buttonSubmit").text("Замовлення підтверджується...");
             
           
              return
            
            }
            
            if (totalQuantity() === 0) {
            $(".buttonSubmit, .div-ordered, .checkout-title-order").addClass("submitWarning")
            setTimeout(() => {
              $(".buttonSubmit, .div-ordered, .checkout-title-order").removeClass("submitWarning")
            },2000)

            e.preventDefault()
            return
            }
            $(".buttonSubmit").addClass("submitWarning")
            setTimeout(() => {
              $(".buttonSubmit").removeClass("submitWarning")
            },2000)
            e.preventDefault()
          })
          
          
          })
        
  script(defer src="js/swup.js" type="module")

noscript
  style(type="text/css")
  body(style='display: none')